@media screen and (min-width: 1280px) and (max-width: 1920px){
    body {
        outline: none;
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        user-select: none;
        background: #1C1C1E;
    }

    header {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: url("../img/720 1280/header.jpg");
        -webkit-background-size: cover;
        background-size: cover;
    }

    header #logo {
        width: 300px;
        height: 300px;
        background: url("../img/320 720/logo.svg") no-repeat;
        background-size: cover;
    }

    header #btn {
        display: block;
        width: 120px;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 1.2em;
        font-weight: 900;
        border: 2px solid #fff;
        border-radius: 30px;
        -webkit-transition: .5ms time;
        -moz-transition: .5ms time;
        -ms-transition: .5ms time;
        -o-transition: .5ms time;
        transition: .5ms time;
    }

    header #btn:hover {
        background: #00d900;
    }

    header #btn:active {
        background: #7c7c7c;
    }

    header #sublogo {
        width: 80px;
        height: 80px;
        background: url("../img/320 720/sublogo.png") no-repeat;
        background-size: cover;
    }

    #wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    #wrap .sect {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    #wrap .gradient {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(27, 27, 28, 1));
    }

    #wrap .sect h1 {
        color: #fff;
        font-size: 2.5em;
        font-weight: 900;
    }

    #wrap .item {
        width: 500px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: #2C2C2E;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
        -moz-box-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
        box-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    }

    #wrap .big {
        width: 1050px;
    }

    #wrap .item .head {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        padding: 10px;
        color: #fff;
        font-size: 1.8em;
        font-weight: 900;
        line-height: 125%;
    }

    #wrap .item .red {
        background: #f53737;
    }

    #wrap .item .blue {
        background: #3b78e2;
    }

    #wrap .item .green {
        background: #22a926;
    }

    #wrap .item .head-sect-two {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        padding: 10px;
        color: #fff;
        font-size: 1.8em;
        font-weight: 900;
        line-height: 125%;
    }

    #wrap .item .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        color: #fff;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 125%;
    }
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(27, 27, 28, 1));
}

footer p {
    color: #a7a7a7;
    padding: 2px;
}

footer p a {
    color: #fff;
    text-decoration: none;
}